.contactsContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.loadingMessage {
  font-style: italic;
  color: blue;
}

.errorMessage {
  color: red;
}
@media (min-width: 678px) {
  .contactsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
  }
}
