.contactsContainer {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.loadingMessage {
  font-style: italic;
  color: blue;
}

.errorMessage {
  color: red;
}
@media (min-width: 1200px) {
  .contactsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
