body {
  background: linear-gradient(120deg, #2980b9, #6dd5fa);
  display: flex;
  justify-content: center;
  align-items: center;
}

.appContainer {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: solid 1px blue;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.contactSection {
  margin-top: 20px;
}
