.Container {
  background-color: #3498db;
  color: #fff;
  height: 46px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.UserMenuContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.Navigation {
  display: flex;
  align-items: center;
  padding: 5px;
}

.Link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.ActiveLink {
  color: #2ecc71;
  border-radius: 4px;
}
